header {
    background-color: black;
}


.buenosaires {
    text-align: justify;
}

.carousel-caption {
    text-align: right;
}

#enviar {
    background-color: rgb(103, 158, 0);
    color: white;
}

footer {
background-color: #2a3d86;
color: white;
width: 100%;

}